.form {
  display: flex;
  flex-wrap: wrap;
  width: min-content;
  height: min-content;
  margin: auto;
  margin-top: 140px;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px #777777;
  gap: 12px;
}

.form input {
  width: 430px;
  padding: 14px;
  border: none;
  outline: 1px solid #aaaaaa;
  border-radius: 6px;
  font-size: 16px;
}

.form input:focus {
  outline: 2px solid #1989f1;
}

.form textarea {
  width: 100%;
  padding: 14px;
  border: none;
  outline: 1px solid #aaaaaa;
  border-radius: 6px;
  font-size: 16px;
}

.form textarea:focus {
  outline: 2px solid #1989f1;
}

.form .delete, .form .edit, .form .add {
  width: 66%;
  padding: 13px;
  border: none;
  outline: 1px solid #ca1212;
  border-radius: 6px;
  background-color: #ca1212;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
}

.form .delete:hover {
  background-color: #da1212;
  outline: 1px solid #da1212;
}

.form .edit {
  width: 31%;
  margin-left: auto;
  outline: 1px solid #7c7777;
  background-color: #7c7777;
}

.form .edit:hover {
  background-color: #8c8787;
  outline: 1px solid #8c8787;
}

.form .add {
  width: 100%;
  outline: 1px solid #2177c7;
  background-color: #2177c7;
}

.form .add:hover {
  background-color: #2187d7;
  outline: 1px solid #2187d7;
}