.main {
  display: grid;
  align-items: flex-start;
  justify-items: center;
  grid-auto-columns: 1fr;
  grid-auto-rows: min-content;
  width: 100%;
  min-width: 460px;
  min-height: 100vh;
  padding: 70px 0;
  background-color: #edf2f7;
  gap: 20px;
}

.image {
  background-image: url('/background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
